{% extends 'base.html.twig' %}

{% block title %}Edit Realisation{% endblock %}

{% block body %}
    <h1>Edit Realisation</h1>

    {{ include('realisation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_realisation_index') }}">back to list</a>

    {{ include('realisation/_delete_form.html.twig') }}
{% endblock %}
