{% extends 'base.html.twig' %}

{% block title %}New Realisation{% endblock %}

{% block body %}
    <h1>Create new Realisation</h1>

    {{ include('realisation/_form.html.twig') }}

    <a href="{{ path('app_realisation_index') }}">back to list</a>
{% endblock %}
